<section >
	<div align=left><h1 class=header1>รายการ สร้างใบลาป่วย / กิจ / พักผ่อน</h1></div>

	<input type=hidden name=frmhide id=frmhide value="">
	<input type=hidden name=orderby id=orderby value="<?=$_POST[orderby];?>">
	<input type=hidden name=orderdirection id=orderdirection value="<?=$_POST[orderdirection];?>">
	<input type=hidden name=ordercolumn id=ordercolumn value="<?=$_POST[ordercolumn];?>">

	<br>
	<!-- #############  รายละเอียดพนักงาน ################# -->
	<div align=center style="padding:10px 0px 10px 0px;" align=center>
	<fieldset style="width:80%" align=left>
	<legend>

	<table  border=0><tr><td align=center><b>รายละเอียดพนักงาน</b></td></table></legend>
	<form ng-submit="saveForm()">
	     <table style="width:80%" align=center>
		  <tr>
			  <td width="10%"></td>
			 <td width="30%"></td>
			 <td width="10%">รหัสเอกสาร</td>
			 <td width="30%">{{ LeaveTransID }}<input type=hidden  name=""  value="" ></td>
			 <td width="10%"></td>
			 <td width="20%"></td>
		 </tr>
		  <tr>
			 <td>ชื่อพนักงาน</td>
			 <td>{{user.NameThai}}<input type="hidden"  name="" value="" ></td>
			 <td>รหัส</td>
			 <td>{{user.EmplID}}<input type=hidden  name=""  value="" ></td>
			 <td>วันที่เริ่มงาน</td>
			 <td>{{user.StartDate | date:'dd/MM/yyyy'}}<input type=hidden  name=""  value="" ></td>
		 </tr>
		 <tr>
			 <td>แผนก</td>
			 <td>{{user.Department2}}<input type="hidden"  name="" value="" ></td>
			 <td>ตำแหน่ง</td>
			 <td>{{user.Position}}<input type="hidden"  name="" value="" ></td>
			 <td></td>
			 <td></td>
		 </tr>
		  <tr>
			 <td colspan="6">
			 	<table class="table table-striped">
			 		<thead style="background-color:#1395E0;color:white;">
			 			<tr>
			 				<th>ประเภท</th>
			 				<th>สิทธิ์</th>
			 				<th>ใช้ไป</th>
			 				<th>คงเหลือ</th>
			 			</tr>
			 		</thead>
			 		<tbody>
			 			<tr ng-repeat="item in leaves">
			 				<td>{{item.LeaveType | leaveType}} </td>
			 				<td>{{item.TotalQty | minToDays}} </td>
			 				<td>{{item.Used | minToDays}} </td>
			 				<td>{{item.TotalQty -  item.Used | minToDays}} </td>
			 			</tr>
			 		</tbody>
			 	</table>


			</td>
			 
		 </tr>
			</table>
			</form>	 
				 			
	  	</fieldset>
	</div>

	<!-- #############  รายละเอียดการลา ################# -->
	<div align=center style="padding:10px 0px 10px 0px;" align=center>
	<fieldset style="width:80%" align=left>
	<legend>
	<table  border=0><tr><td align=center><b>รายละเอียดการลา</b></td></table></legend>
	     <table style="width:80%" align=center>
		  <tr>
			 <td width="20%"> </td>
			 <td ng-hide="!isOwner || isOther">
			 	
			 	 <label ng-repeat="n in leaves">
		          <input ng-disabled="!isOwner" type="radio" name="pageNumber" ng-model="$parent.selectedType" ng-value="n" ng-click="updateType()" /> {{n.LeaveType | leaveType}} 
		         </label>
		         
		         
			 </td>
			 <td ng-show="!isOwner && !isOther">
			 	<label><input disable type="radio" checked /> {{selectedType.LeaveType | leaveType}}</label>
			 </td>
			
			 
		 </tr>
		 <tr ng-show="isOther">
			 <td width="40%"> <label ng-repeat="n in Config.leaveOtherTypes">
			          <input required type="radio" name="pageNumber" ng-model="$parent.selectedOtherType" ng-value="n" ng-click="updateOtherType()" /> {{n.name}} &nbsp;&nbsp;
			     </label></td>
			 <td>
			 	
			 	
			 	 <input type="text" placeholder="โปรดระบุหัวข้อการลา" ng-model="subject" class="form-control" required />
			 	
			 </td>
			 
		 </tr>
		 <tr>
		 	<td colspan="2">
		 		<div class="row">
		 			<div class="col-md-6">
		 				<section ng-show="selectedType!=null || isOther">
		 					<h4>เริ่มลา</h4>
		 					<div>
		 						<a ng-hide="!isOwner" href="" style="color:white;" class="btn btn-primary" ng-click="isShowDate = true;" ng-hide="isShowDate">เลือกวัน </a>
			 	
								 	<div style="display:inline-block; min-height:290px;position:relative" ng-show="isShowDate">
								      <datepicker  ng-change="updateDateTime()" ng-model="date_time_from" min-date="minDate" max-date="maxDate" show-weeks="true" class="well well-sm" ></datepicker>
								      <a class="btn btn-primary"  style="width:100%;color:white;" ng-click="isShowDate = false;steps[1]=true;" href="">ปิด</a>
								      <input type="text"  ng-model="date_time_from" required  ng-show="false"  />
								      
								    </div>
								    <span style="font-size:1.5em;" ng-hide="isOwner">วันที่ </span><span style="font-size:1.5em;">{{date_time_from | date:"dd/MM/yyyy"}}</span> <span style="font-size:1.5em;" ng-hide="isOwner">เวลา {{mytime.getHours() | stringDigit}} : {{mytime.getMinutes() | stringDigit}}</span> 
								 	
		 					</div>
		 					<div>
		 						<timepicker ng-hide="!isOwner" ng-change="updateDateTime()" ng-model="mytime"  hour-step="1" minute-step="30" show-meridian="false" min="min_time" max="max_time"></timepicker>
			 					
		 					</div>
		 				</section>
		 			</div>
		 			<div class="col-md-6">
		 				<section ng-show="steps[1]">
		 					<h4>ถึง</h4>
		 					<div>
			 					<a ng-hide="!isOwner" href="" style="color:white;" class="btn btn-primary" ng-click="isShowDate2 = true;" ng-hide="isShowDate2">เลือกวัน </a>
			 	
							 	<div style="display:inline-block; min-height:290px;position:relative" ng-show="isShowDate2">
							      <datepicker  ng-change="updateDateTime()" ng-model="date_time_to" max-date="maxDate" min-date="date_time_from" show-weeks="true" class="well well-sm" ></datepicker>
							      <a class="btn btn-primary"  style="width:100%;color:white;" ng-click="isShowDate2 = false;steps[2]=true;" href="">ปิด</a>
							      <input type="text"  ng-model="date_time_to" required  ng-show="false"  />
							      
							    </div>
							    <span style="font-size:1.5em;" ng-hide="isOwner">วันที่ </span>
							    <span style="font-size:1.5em;">{{date_time_to | date:"dd/MM/yyyy"}}</span>  <span style="font-size:1.5em;" ng-hide="isOwner">เวลา {{mytime2.getHours() | stringDigit}} : {{mytime2.getMinutes() | stringDigit}}</span>
							 	
							 </div>
							<div>
								<timepicker ng-hide="!isOwner" ng-change="updateDateTime()" ng-model="mytime2"  hour-step="1" minute-step="30" show-meridian="false" min="min_time" max="max_time"></timepicker>
		 		
							</div>
		 				</section>
		 			</div>
		 		</div>
		 	</td>
		 </tr>
		 <!--<tr ng-show="selectedType!=null">
		 	<td colspan="2"><h4>เริ่มลา</h4></td>
		 </tr>
		 <tr ng-show="selectedType!=null">
		 	<td>
		 		วันที่ 
		 	</td>
			 <td>
			 	<a ng-hide="!isOwner" href="" style="color:white;" class="btn btn-primary" ng-click="isShowDate = true;" ng-hide="isShowDate">เลือกวัน </a>
			 	
			 	<div style="display:inline-block; min-height:290px;position:relative" ng-show="isShowDate">
			      <datepicker  ng-change="updateDateTime()" ng-model="date_time_from" min-date="minDate" max-date="maxDate" show-weeks="true" class="well well-sm" ></datepicker>
			      <a class="btn btn-primary"  style="width:100%;color:white;" ng-click="isShowDate = false;steps[1]=true;" href="">ปิด</a>
			      <input type="text"  ng-model="date_time_from" required  ng-show="false"  />
			      
			    </div>
			    <span style="font-size:1.5em;">{{date_time_from | date:"dd/MM/yyyy"}}</span> 
			 	

			</td> 	
			
		 </tr>
		 <tr ng-show="selectedType!=null">
		 	<td>เวลา</td>
		 	<td>
		 		<timepicker ng-hide="!isOwner" ng-change="updateDateTime()" ng-model="mytime"  hour-step="1" minute-step="30" show-meridian="false" min="min_time" max="max_time"></timepicker>
			 	<span style="font-size:1.5em;" ng-hide="isOwner">{{mytime.getHours() | stringDigit}} : {{mytime.getMinutes() | stringDigit}}</span>


		 	</td>

		 </tr>
		  <tr ng-show="steps[1]">
		 	<td colspan="2"><h4>ถึง</h4></td>
		 </tr>
		 <tr ng-show="steps[1]">
		 	<td>
		 		วันที่ 
		 	</td>
			 <td>
			 	<a ng-hide="!isOwner" href="" style="color:white;" class="btn btn-primary" ng-click="isShowDate2 = true;" ng-hide="isShowDate2">เลือกวัน </a>
			 	
			 	<div style="display:inline-block; min-height:290px;position:relative" ng-show="isShowDate2">
			      <datepicker  ng-change="updateDateTime()" ng-model="date_time_to" min-date="date_time_from" show-weeks="true" class="well well-sm" ></datepicker>
			      <a class="btn btn-primary"  style="width:100%;color:white;" ng-click="isShowDate2 = false;steps[2]=true;" href="">ปิด</a>
			      <input type="text"  ng-model="date_time_to" required  ng-show="false"  />
			      
			    </div>
			    <span style="font-size:1.5em;">{{date_time_to | date:"dd/MM/yyyy"}}</span> 
			 	

			</td> 	
			
		 </tr>
		 <tr ng-show="steps[1]">
		 	<td>เวลา</td>
		 	<td>
		 		<timepicker ng-hide="!isOwner" ng-change="updateDateTime()" ng-model="mytime2"  hour-step="1" minute-step="30" show-meridian="false" min="min_time" max="max_time"></timepicker>
		 		<span style="font-size:1.5em;" ng-hide="isOwner">{{mytime2.getHours() | stringDigit}} : {{mytime2.getMinutes() | stringDigit}}</span>
		 	</td>

		 </tr>
		-->
		 <tr ng-show="steps[2]">
		 
			 <td colspan="2">
			 	<div style="padding:20px;border:1px solid #189DC5;text-align:center;">

				 	รวม จำนวน {{time_used | leaveDays}} วัน {{time_used | leaveHours}} ชั่วโมง {{time_used | leaveMinutes}} นาที <span style="color:red;">{{time_used | leaveStatus:selectedType}} </span>
			 	</div>
			 	<span style="color:red;" >{{time_used | minimumStatus:selectedType.LeaveType}}</span>
			 </td>		 
		 </tr>
		 <tr ng-show="steps[2]">
		 	<td></td>
		 	<td style="height:20px;"></td>
		 </tr>
		 <tr ng-show="steps[2]" >
		 	<td>หมายเหตุการลา</td>
			 <td><textarea ng-disabled="!isOwner" class="form-control" ng-model="description"></textarea></td>		 
		 </tr>
		 <tr>
		 	<td colspan="2" style="height:20px;" ></td>
		 </tr>
		 <tr ng-show="steps[2]">
		 	<td></td>
			 <td>เอกสารแนบ <button type="file" ngf-select="uploadFiles(0,$file, $invalidFiles)"
           ngf-max-height="1000" ngf-max-size="2MB"> 
      Select File</button> <a ng-show="isUploads[0]" href="{{fileAddress[0]}}">Download</a></td>		 
		 </tr>
		 <tr ng-show="steps[2]">
		 	<td></td>
			 <td>เอกสารแนบ <button type="file" ngf-select="uploadFiles(1,$file, $invalidFiles)"
           ngf-max-height="1000" ngf-max-size="2MB">
      Select File</button>  <a ng-show="isUploads[1]" href="{{fileAddress[1]}}">Download</a></td>		 
		 </tr>	

		 <tr ng-show="steps[2] && isActualOwner && (isOwner || canEdit)">
		 	<td></td>
		 	<td>
		 		<div class="row">
		 			<div class="col-md-4">
		 				<input  ng-click="saveForm(1)" type="button" class="btn btn-success" value="บันทึก" style="width:100%;">
		 			</div>
		 			<div class="col-md-4">
		 				<input  ng-click="saveForm(2)" type="button" class="btn btn-primary" value="ส่งใบลา" style="width:100%;">
		 			</div>
		 			<div class="col-md-4">
		 				<input ng-disabled="isCantCancle" ng-click="saveForm(7)" type="button" class="btn btn-danger" value="ยกเลิก" style="width:100%;">
		 			</div>
		 		</div>

		 	</td> 
		 </tr>
			</table>
		</form> 
				 
				
	  	</fieldset>
	</div>

	<!-- #############  ผู้อนุมัติลำดับที่ 1 ################# -->
	
	<div ng-repeat="item in approvers" ng-show="item.show" align=center style="padding:10px 0px 10px 0px;" align=center>
	<fieldset style="width:80%" align=left>
	<legend>
	<table  border=0><tr><td align=center><b>ผู้อนุมัติ</b></td></table></legend>
	     <table style="width:80%" align=center>
		  <tr>
			 <td width="10%"> {{item.user.NameThai}}</td>
			 
		 </tr>
		 <tr>
			 <td> 

			 	<label><input ng-disabled="!item.isApprover || item.disable" type="radio" name="approve-{{item.id}}" ng-model="item.selectedChoice" ng-value="approvers_choices[0]">{{approvers_choices[0].name}}</label>

				<label><input ng-disabled="!item.isApprover || item.disable" type="radio" name="approve-{{item.id}}" ng-model="item.selectedChoice" ng-value="approvers_choices[1]">{{approvers_choices[1].name}}</label>

				<label><input  ng-disabled="!item.isApprover || item.disable" type="radio" name="approve-{{item.id}}" ng-model="item.selectedChoice" ng-value="approvers_choices[2]">{{approvers_choices[2].name}}</label>

			 	<!--<select ng-disabled="!item.isApprover || item.disable" ng-options="n.name for n in approvers_choices" ng-model="item.selectedChoice"></select>-->
			 	 
		     </td>
			
		 </tr>
		 <tr>
			 <td>
			 	หมายเหตุเพิ่มเติม<br/>
			 	<textarea ng-disabled="!item.isApprover || item.disable" class="form-control" ng-model="item.mark"></textarea>

			 </td>		 
		 </tr>
		 <tr>
			 <td><br/>
			 	<button ng-click="approve(item)"  ng-disabled="!item.isApprover || item.disable" class='btn btn-primary'>ยืนยัน</button>
			 
			 	
			 </td>		 
		 </tr>

		 </table>
			
	  	</fieldset>
	</div>
	<!-- #############  ผู้อนุมัติลำดับที่ 2 ถ้ามี จึงจะให้แสดง ################# -->
	<!--<div align=center style="padding:10px 0px 10px 0px;" align=center>
	<fieldset style="width:80%" align=left>
	<legend>
	<table  border=0><tr><td align=center><b>ผู้อนุมัติ</b></td></table></legend>
	     <table style="width:80%" align=center>
		  <tr>
			 <td width="10%"> ชื่อผู้อนุม้ติ</td>
			 
		 </tr>
		 <tr>
			 <td> เป็น radio ให้เลือกว่า อนุมัติ , ไม่อนุม้ติ , กลับไปแก้ไข </td>
			
		 </tr>
		 <tr>
			 <td>หมายเหตุเพิ่มเติม</td>		 
		 </tr>
		 </table>
			
	  	</fieldset>
	</div>

	<!-- #############  ผู้อนุมัติลำดับที่ 3 ถ้ามี จึงจะให้แสดง ################# -->
	<!--<div align=center style="padding:10px 0px 10px 0px;" align=center>
	<fieldset style="width:80%" align=left>
	<legend>
	<table  border=0><tr><td align=center><b>ผู้อนุมัติ</b></td></table></legend>
	     <table style="width:80%" align=center>
		  <tr>
			 <td width="10%"> ชื่อผู้อนุม้ติ</td>
			 
		 </tr>
		 <tr>
			 <td> เป็น radio ให้เลือกว่า อนุมัติ , ไม่อนุม้ติ , กลับไปแก้ไข </td>
			
		 </tr>
		 <tr>
			 <td>หมายเหตุเพิ่มเติม</td>		 
		 </tr>
		 </table>
			
	  	</fieldset>
	</div>

	<!-- #############  HR ################# -->
	<div align=center style="padding:10px 0px 10px 0px;" align=center>
	<fieldset style="width:80%" align=left>
	<legend>
	<table  border=0><tr><td align=center><b>แผนกบุคคลผู้รับเรื่อง</b></td></table></legend>
	     <table style="width:80%" align=center>
		  <tr>
			 <td colspan="2"> {{hr.user.NameThai}}</td>
			 
		 </tr>
		 <tr>
			 <td colspan="2"> <input  ng-disabled="!hr.isHr|| hr.disable" type="checkbox" ng-model="hr.selectedChoice.value" ng-true-value="6"
       ng-false-value="1" /> รับทราบ  {{hr.knownDate  | date:'dd/MM/yyyy'}} </td>
		 </tr>
		 <tr>
			 <td colspan="2">
			 	หมายเหตุเพิ่มเติม<br/>
				<textarea  ng-disabled="!hr.isHr || hr.disable" class="form-control" ng-model="hr.mark"></textarea></td>		 
		 </tr>
		 <tr>

			 <td colspan="2"><br/>
			 	<button ng-click="approve(hr)"  ng-disabled="!hr.isHr || hr.disable" class='btn btn-primary'>ยืนยัน</button>
			 
			 	
			 </td>		
		 </tr>
		 </table>
			
	  	</fieldset>
	</div>
</section>